<% provide(:title, 'Add Answers') %>
<% provide(:button_text, 'Add question') %>

<h3>Add question</h3>
    <%= form_for(@question) do |f| %>
        <div class="form-group">
            <%= f.label :Question %>
            <%= f.text_field :question, class: 'form-control' %>
        </div>
        <%= f.submit yield(:button_text), class: "btn btn-primay" %>
    <% end %>
    
    