<% provide(:title, "Log in") %>
<% provide(:button_text, "Log in") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3"></div>

    <div class="col-xs-6" align="center">
      <div class="container glass-back">
        <div class="custom-form">
          <h2 style="text-align: center; color: silver!important;;">Login!</h2>
          <%= render partial: 'shared/login_form' %>

          </br>

          <p>Not a member? Sign up here!</p>
          <%= link_to "Sign Up", signup_path %>

        </div>
      </div>
    </div>

    <div class="col-xs-3"></div>
  </div>
</div>
