<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Join') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8 col-xs-12" align="center">
      <div class="container custom signup">

        <div class="glass-pane">
        <div class="content" style="position:relative;">
          <%= render partial: 'shared/users_form' %>
        </div>
        </div>

      </div>
    </div>

    <div class="col-sm-2">
    </div>
  </div>
</div>