<header class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "UniDates Admin Panel", root_path, class: "navbar-brand logo" %>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to "All Users", users_path %></li>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          <%end%>
        <%end%>
      </ul>
    </div>
  </div>
</header>