<div class="container" style="background-color: rgba(50, 50, 50, 0.8); height: 80vh; padding-top: 15px;">

  <div class="row">

    <!--User list box-->
    <div class="col-md-3">
      <% current_user.matche.each do |user| %>
          <% matched_user = find_user(user.matched_user_id) %>
          <%= link_to matched_user.name, conversations_path(user_id: user.matched_user_id), remote: true, method: :post,
                      class: 'btn btn-success btn-md btn-block' %>
      <% end %>
    </div>

    <!--User message-->
    <div class="col-md-9">
      <% current_user.matche.each do |user| %>
          <ul id="conversations-list">

            <% @conversations.each do |conversation| %>
                <% if conversation.sender_id == current_user.id && conversation.recipient_id == user.matched_user_id %>
                    <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
                <% end %>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>



