<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1 class="dynamic custom">study buddies and soul mates?</h1>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
      <h1 class="dynamic custom">find it all with UniDates.</h1>
    </div>
  </div>
</div>


<% if logged_in? %>

  <div class="col-md-9">
      <ul id="conversations-list">
        <% @conversations.each do |conversation| %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
      </ul>
    </div>

  <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User list</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @users.each do |user| %>
              <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<%end%>



