<h1>UniDates</h1>
<p>Create account</p>
<%= link_to "Sign Up", signup_path %>
<%= link_to "Log In", login_path %>
<%= link_to "Create a question", createQuestion_path %>
<%= link_to "All questions", questions_path %>