<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1 class="dynamic custom">study buddies and soul mates?</h1>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
      <h1 class="dynamic custom">find it all with UniDates.</h1>
    </div>
  </div>
</div>
