<% if current_user.questionnaire.blank? %>
    <p>Please fill out your preferences first!</p>
<% else %>

    <!-- MATCHMAKING ALGORITHM -->
    <% users = get_user_preferences %>

    <% matched_users = Hash.new {|hash, key| hash[key] = {}} %>

    <% users.each_with_index do |user, index| %>
        <% count = 0 %>

        <% user.questionnaire.each do |other_questionnaire| %>
            <% current_user.questionnaire.each do |user_questionnaire| %>

                <% if user_questionnaire.q1 == other_questionnaire.q1 %>
                    <%
                      priority = Float((user_questionnaire.pq1 - other_questionnaire.pq1).abs) / 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>

                <% end %>

                <% if user_questionnaire.q2 == other_questionnaire.q2 %>
                    <%
                      priority = Float((user_questionnaire.pq2 - other_questionnaire.pq2).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q3 == other_questionnaire.q3 %>
                    <%
                      priority = Float((user_questionnaire.pq3 - other_questionnaire.pq3).abs) / 10
                      puts "priority", priority
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q4 == other_questionnaire.q4 %>
                    <%
                      priority = Float((user_questionnaire.pq4 - other_questionnaire.pq4).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q5 == other_questionnaire.q5 %>
                    <%
                      priority = Float((user_questionnaire.pq5 - other_questionnaire.pq5).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q6 == other_questionnaire.q6 %>
                    <%
                      priority = Float((user_questionnaire.pq6 - other_questionnaire.pq6).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q7 == other_questionnaire.q7 %>
                    <%
                      priority = Float((user_questionnaire.pq7 - other_questionnaire.pq7).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q8 == other_questionnaire.q8 %>
                    <%
                      priority = Float((user_questionnaire.pq8 - other_questionnaire.pq8).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q9 == other_questionnaire.q9 %>
                    <%
                      priority = Float((user_questionnaire.pq9 - other_questionnaire.pq9).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>

                <% if user_questionnaire.q10 == other_questionnaire.q10 %>
                    <%
                      priority = Float((user_questionnaire.pq10 - other_questionnaire.pq10).abs)/ 10.0
                      count += 1 - priority
                      puts "count: ", count
                    %>
                <% end %>
            <% end %>
        <% end %>

        <% matched_users[index][:name] = user.name %>
        <% matched_users[index][:dob] = user.dob %>
        <% matched_users[index][:gender] = user.gender %>
        <% matched_users[index][:email] = user.email %>
        <% matched_users[index][:id] = user.id %>
        <% matched_users[index][:count] = count %>

    <% end %>
    <% orderd_users = matched_users.sort_by {|k, v| v[:count]}.reverse %>

    <!--END MATCHMAKE ALGORITHM-->

    <h3 align="center">Your matches </h3>
    <div class="container">
      <% orderd_users.each do |key, user| %>
          <div class="col-sm-6 col-md-4">
            <%= render :partial => 'shared/display_user', :locals => {:user => user, :key => key} %>
          </div>
      <% end %>
    </div>
<% end %>




    
    
