<% provide(:title, 'Preferences') %>

<div class="container">
  <div id="preference_wrapper">
    <div class="preference">
      <span id="text1">Preference 1</span>
      <img src="/cat.png" id="image1">
    </div>
    <div class="preference">
      <span id="text2">Preference 2</span>
      <img src="/dog.png" id="image2">
    </div>
  </div>
</div>

<!-- <render partial: 'shared/questionnaire_form' %>-->
