/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@media screen and (max-width: 767px) {
  .pref-img{
    height: 80px !important;
    width: 80px !important;
  }

  .container.custom.signup>#glass-pane{
    height:650px !important;
  }
}

@media screen and (min-width: 768px) {
  .pref-img{
    height: 100px !important;
    width: 100px !important;
  }
}
@media (min-width: 992px) {
  .pref-img{
    height: 150px !important;
    width: 150px !important;
  }
}
@media (min-width: 1200px) {
  .pref-img{
    height: 200px !important;
    width: 200px !important;
  }
}

body {
  // Link to resource for safety reasons
  //https://www.flickr.com/photos/noquedanfotos/5425846901/in/photostream/
  //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  //filter: grayscale(100%);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh !important;
  width: 100vw !important;
}

.navbar.transparent.navbar-inverse.navbar-fixed-top {
  background: rgba(50, 50, 50, 0.7);
  border: none; // Remove bootstrap border for cleaner navbar
  color: white;
  font-size: 50px;
  filter: none;
  //border-bottom-style: solid;
  //border-bottom-width: thin;
}

.navbar-brand.logo {
  color: red;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: greenyellow !important;
}

.container.main {
  padding-top: 8%;
}

body {
  color: white;

}

.form-group {
  margin-bottom: 0px;
}

#error_explanation {
  color: red;
  width: 100%;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  width: 100%;
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.container-fluid {
  padding-bottom: 50px;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label > img {

}

input[type=radio] + label > img {
  width: 150px;
  height: 150px;
  opacity: 0.5;
  transition: 500ms all;
}

input[type=radio]:checked + label > img {
  opacity: 1;
}

option {
  background-color: #575757;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #54ff44;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #ff2b05;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 25px;
  background-color: #f5f5f5;
  .footer-block {
    margin: 20px 0;
  }
}

.alert {
  margin-top: -20px;
  width: inherit;
  position: absolute;
}

//image circle

.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
	border-radius: 50%;	/* relative value */
	border: 2px solid white;/* border width   */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);	
	transition: linear 0.25s;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}


.chat-box {
	border: solid 1px;
	margin-top: 15px;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.chat-box:hover {
  background-color:#4cae4c ;
	border-color: #5cb85c;
}

.user-list a {
    color: #FFFFFF;
    text-decoration: none;
}

.icon {
  margin: 5px;
}

.panel.panel-default {
	background: rgba(45, 45, 45, 0.7);
	border-color: rgba(43, 43, 43, 0.7);
}

.panel-default > .panel-heading {
	color: #333333;
	border-color: rgba(40, 40, 40, 0.7);
	background: rgba(40, 40, 40, 0.7);
}

.block {

background-color: rgba(55, 55, 55, 0.8);
margin-top: 5px;
padding: 10px;

}

a.left.carousel-control {
  background-image: none;
  margin-left: -30px;
}

a.right.carousel-control {
  background-image: none;
  margin-right: -30px;
}