/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  // Link to resource for safety reasons
  //https://www.flickr.com/photos/noquedanfotos/5425846901/in/photostream/
  //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  //filter: grayscale(100%);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh !important;
  width: 100vw !important;
}

.navbar.transparent.navbar-inverse.navbar-fixed-top {
  background: rgba(50, 50, 50, 0.7);
  border: none; // Remove bootstrap border for cleaner navbar
  color: white;
  filter: none;
}

.navbar-brand.logo {
  color: red;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: greenyellow !important;
}

.container.main {
  padding-top: 8%;
}

body {
	color: white;

}

.form-group {
    margin-bottom: 0px;
}

#error_explanation {
  color: red;
  width: 100%;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  width: 100%;
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//birthday 
#user_dob_1i {
  color: black;
}

#user_dob_2i {
  color: black; 
}

#user_dob_3i {
  color: black;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {

}


input[type=radio] + label>img {
  width: 150px;
  height: 150px;
  opacity: 0.5;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
    opacity: 1;
}

option {
  background-color: #575757;
}

