/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 768px) {
  .mainbackground.image {
    background: url("main_back.jpg") no-repeat center center fixed !important;
  }
}

.mainbackground.image {
  // Link to resource for safety reasons
  //https://www.flickr.com/photos/noquedanfotos/5425846901/in/photostream/
  //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  //filter: grayscale(100%);
  background: url("main_back.jpg") no-repeat;
  background-size: cover;
  height: 100vh !important;
  width: 100vw !important;
}

.navbar.transparent.navbar-inverse.navbar-fixed-top {
  background: rgba(50, 50, 50, 0.7);
  border: none; // Remove bootstrap border for cleaner navbar
  color: white;
  filter: none;
}

.navbar-brand.logo {
  color: red;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: greenyellow !important;
}

.container.main {
  padding-top: 8%;
}

body {
	color: white;

}

a:visited {
  color: red;
}

