// Place all the styles related to the questionnaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#preference_wrapper {
  position: fixed;
  left: 25%;
  top: 25%;
  text-align: center;
}

.preference {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  font-size: xx-large;
  font-variant: all-petite-caps;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
}

.preference img {
  display: block;
  max-width: 400px;
  max-height: 400px;
  margin-top: inherit;
}

.container.custom > img {
  height: 20px !important;
}

.card {
  width: 35%;
  height: 35vh;
  background-color: rgba(150, 150, 150, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.option-one {
  float: left;
  margin-left: 6%;
  margin-bottom: 6px;
}

.option-two {
  float: right;
  margin-right: 6%;
  margin-bottom: 6px;

}

.option-img {
  border-radius:100%;
  margin: 25% auto 0;
}

.option-head {
  font-family: "Courier Header", Courier, Monospaced;
  margin-top: 8%;
  font-size: 22px;
  word-wrap: break-word;
  margin-left: 5%;
  margin-right: 5%;
}

.card-breaker {
  border-style: solid;
  border: solid 1px rgba(200, 200, 200, 0.3);
  margin-top: 8%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 15%;
}
