// Place all the styles related to the questionnaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preference_wrapper {
  position: fixed;
  left: 25%;
  top: 25%;
  text-align: center;
}

.preference {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  font-size: xx-large;
  font-variant: all-petite-caps;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
}

.preference img {
  display: block;
  max-width: 400px;
  max-height: 400px;
  margin-top: inherit;
}