// Place all the styles related to the Startup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {

}

.home.content  {
  color:white;
  text-align: center;


}

h1.top {
  background: rgba(100, 100, 100, 0.3);
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 50px;
  color: #F7C1BB;
  margin-left: 125px;
  margin-right: 125px;
}

h1.bottom {
  background: rgba(100, 100, 100, 0.3);
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-stretch: extra-expanded;
  font-size: 50px;
  color: #F7C1BB;
  margin-top: 20%;
  margin-left: 150px;
  margin-right: 150px;
}

