// Place all the styles related to the Startup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {

}

.home.content  {
  color:white;
  text-align: center;
}

.top-buffer {
  margin-top: 30vh;
}

@media (max-width: 768px) {
  h1.dynamic.custom{font-size: 25px !important;}
  .container.text-center{margin-top: 15vh;}
}

h1.dynamic.custom{
  background: rgba(100, 100, 100, 0.3);
  font-family: "Courier New", Courier, monospace !important;
  font-weight: 300 !important;
  font-size: 50px;
  color: #F7C1BB !important;
}

