// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginbackbox {
  background: rgba(50, 50, 50, 0.8);
  border-radius: 10%;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  height: 50vh;
  padding-top: 0px;
}

.loginbackbox > h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: #F7C1BB;
  padding-top: 25px;
}

table.center {
  margin-left:auto;
  margin-right:auto;
  padding-top: 50px;
}


th {
  height:50px;

}

.form.label {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.form.field {
}

.btn.btn-primary{
}