// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


/* -------------------- START: SIGN UP / LOG IN PAGES ----------------------- */
.container.custom {
  width: auto;
  height: auto;
  position: relative;
  padding-bottom: 25px;
  margin-top: 10vh;
}

.container.custom.signup {
  margin-top: 0px;
}

// Used for very small screens
.col-xs-8 > .container.custom.signup {
  margin-top: 15px;
}


.btn.btn-primary {
  width: 90% !important;
}

#glass-pane {
  z-index: 1;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow:hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

#glass-pane:before {
  z-index: -1;
  position: absolute;
  content: '';
  background: url('main_back.jpg') center fixed;
  background-size: cover !important;
  width:110%;
  height:110%;
  top: -10px;
  left: -10px;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 0 350px rgba(50, 50, 50, 0.5);
  filter: blur(10px);
}

.content {
  z-index: 10;
  padding-top: 25px;
}

.custom-form {
  position: sticky;
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 5%;
}

.new_user {
  width: 100%;
}

.edit_user {
  width: 100%;
}

.form-control.custom {
  background: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);

  // Remove box shadow and radius from bootstrap
  border-radius: 0px !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.form-control.custom.non-editable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.form-control.custom[readonly] {
  background-color: transparent;
}

.form-control.custom-label {
  width: 100%;
  margin-bottom: -3.5%;
  align: center;
  outline: 0;
  background: 0;
  border: 0;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;

  // Remove box shadow and radius from bootstrap
  border-radius: 0px !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.form-control.custom-label-nospace {
  width: 100%;
  margin-bottom: -9%;
  align: center;
  outline: 0;
  background: 0;
  border: 0;
  font-size: 15px;
  font-weight: normal;
  color: white;

  // Remove box shadow and radius from bootstrap
  border-radius: 0px !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.form-control.custom-select {
  background: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);

  // Remove box shadow and radius from bootstrap
  border-radius: 0px !important;
  box-shadow: none !important;
}

.form-control.custom-date-select {
  width: 32%;
  height: 35px;
  align: center;
  background: 0;
  outline: 0;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8) !important;
  text-align-last: center;

  // Remove box shadow and radius from bootstrap
  border-radius: 0px !important;
  box-shadow: none !important;
  display: inline-block;

  overflow: visible;
}

input::-webkit-input-placeholder {
  color: white !important;
}

.field_with_errors {
  padding: 0px;
  background: 0;
  display: inherit;
}

.field_with_errors .form-control {
  color: inherit !important;
}

/* --------------------- END: SIGN UP / LOG IN PAGES ------------------------ */

/* ---------------------- START: USER PROFILE PAGE -------------------------- */
//Add box to show users details
.white-box {
  position: relative;
  font-family: "Arial", Courier, monospace !important;
  margin-top: 25px;
  left: 200px;
  height: 420px;
  width: 60%;
  background-color: grey;
  opacity: 0.8;
  color: white;
  padding: 40px;
  border: 30px solid transparent;
  border-radius: 40px;
  border-image: url('heart.png') 100 repeat;
  box-shadow: 0 0 200px white;
}

//Profile picture holder
#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#profile-container img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* ----------------------- END: USER PROFILE PAGE --------------------------- */
