<% provide(:title, 'Report User') %>
<% provide(:button_text, 'Submit') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 col-xs-12" align="center">
      <%= render 'shared/error_messages', object: @user %>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6 col-xs-12" align="center">
      <div class="container custom signup">

        <div id="glass-pane">

          <div class="content" style="position:relative;">

            <%= render partial: 'shared/report_form' %>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-3">
    </div>
  </div>
</div>
